

// Floats
.fl {
	float: left;
}
.fr {
	float: right;
}

// Screen readers only
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.list-unstyled,
.list-inline {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-inline {
	@include group;
	> li {
		float: left;
	}
	li + li {
		margin-left: 5px;
	}
}

.img-round {
	border-radius: 50%;
}

.group {
	@include group;
}

.mob-only {
	@include mq(up, $break-sm) {
		display: none !important;
	}
}