---
layout: main
---
<div class="content">

	<header class="page-header">
		<h1 class="text-center">{{ page.title }}</h1>
	</header>

	
	<div class="grid">
		<div class="grid__col-8 grid__push-2 text-center">
			<ul class="tab-nav text-uppercase">
				<li><a class="js-tab active" href="#consumer-brands">Consumer Brands</a></li>
				<li><a class="js-tab" href="#new-technologies">New Technologies</a></li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-panel active" id="consumer-brands">
			<div class="grid">
				<div class="grid__col-8 grid__push-2 text-center">
					<h5 class="subhead">SharpEnd takes your brand challenges and moves you rapidly from immersion in the key disruptive technologies, through focused strategy, rapid prototyping and piloting, to managed delivery and scale.</h4>
					<p>We help you grasp and navigate new eco-systems of technology partners and suppliers.</p>
					<p>We never lose track of the need to match brand impact with fresh, transformative consumer value.</p>
				</div>
			</div>
			<div class="grid timeline">
				<div class="grid__col-6 timeline__left">
					<div class="box box--dark timeline__item text-center">
						<h4 class="box__title text-uppercase text-color-1">Inspiration &amp; Education</h4>
						<p>Opens your eyes to the right technologies, delivers total clarity and consensus around opportunity spaces, and leads you confidently towards your</p>
					</div>
				</div>
				<div class="grid__col-6 grid__push-6 timeline__right">
					<div class="box box--dark timeline__item text-center">
						<h4 class="box__title text-uppercase text-color-1">Focused Strategy</h4>
						<p>which reflects and builds on from what you’ve learned, provides business and brand rationale, selection and assessment criteria that feed into the</p>
					</div>
				</div>
				<div class="grid__col-6 timeline__left">
					<div class="box box--dark timeline__item text-center">
						<h4 class="box__title text-uppercase text-color-1">Rapid Prototyping</h4>
						<p>which brings the vision and strategy to life with simple and tangible models of brand and consumer value: these focus your strategy and lead towards one or more</p>
					</div>
				</div>
				<div class="grid__col-6 grid__push-6 timeline__right">
					<div class="box box--dark timeline__item text-center">
						<h4 class="box__title text-uppercase text-color-1">Pilot(s)</h4>
						<p>which are small, managed in-market test(s) with key eco-system partners that measure impacts, validate the thinking and refine the way forward into</p>
					</div>
				</div>
				<div class="grid__col-6 timeline__left">
					<div class="box box--dark timeline__item text-center">
						<h4 class="box__title text-uppercase text-color-1">Delivery &amp; Scale</h4>
						<p>where we help integrate the proven technologies into the enterprise, making these new discoveries repeatable and scalable</p>
					</div>
				</div>
				<div class="timeline__line"></div>
			</div>
		</div>
		<div class="tab-panel" id="new-technologies">
			<div class="grid">
				<div class="grid__col-8 grid__push-2 text-center">
					<h5 class="subhead">SharpEnd takes your breakthrough product and helps you position it to take full ownership of its unique opportunity space, in the context of most valuable market it can command.</h4>
					<p>We develop and define penetrating propositions, designed to aggressively defend and grow your positioning.</p>
					<p>We provide you with a cohesive and coherent, entirely logical go to market process that sets you up to build, defend and grow a world-class technology brand.</p>
				</div>
			</div>
			<div class="grid timeline">
				<div class="grid__col-6 timeline__left">
					<div class="box box--blue timeline__item text-center">
						<h4 class="box__title text-uppercase text-dark">Optimal Marketspace</h4>
						<p>Explores and shapes the most lucrative, future-focused competitive territory for your breakthrough offering to live, which will inform your</p>
					</div>
				</div>
				<div class="grid__col-6 grid__push-6 timeline__right">
					<div class="box box--blue timeline__item text-center">
						<h4 class="box__title text-uppercase text-dark">Ownable Positioning</h4>
						<p>the precise spot in your chosen market, which you’ll defend and grow by articulating and delivering on your</p>
					</div>
				</div>
				<div class="grid__col-6 timeline__left">
					<div class="box box--blue timeline__item text-center">
						<h4 class="box__title text-uppercase text-dark">Unique propositions</h4>
						<p>which will meet the customer challenges you’ll be addressing better than any competitor, largely because they’ll be fully supported and delivered by your</p>
					</div>
				</div>
				<div class="grid__col-6 grid__push-6 timeline__right">
					<div class="box box--blue timeline__item text-center">
						<h4 class="box__title text-uppercase text-dark">Evolving Products</h4>
						<p>that dovetail with each other to underpin your propositions and your positioning, developing logically over time as you expand your territory in the marketspace</p>
					</div>
				</div>
				<div class="grid__col-6 timeline__left">
					<div class="box box--blue timeline__item text-center">
						<h4 class="box__title text-uppercase text-dark">Clients &amp; Partners</h4>
						<p>Opens your eyes to the right technologies, delivers total clarity and consesus around opportunity spaces, and leads you confidently towards your.</p>
					</div>
				</div>
				<div class="timeline__line"></div>
			</div>
		</div>
	</div>
	
  
</div>
